<div class="row">
	<div class="span12">	
		<h1><%= "Welcome #{current_user.instructor.first_name} !" %> </h1>
	</div>
</div>
<br />
<br />

<div class="row">
  <div class="small-7 columns">
		<h3>Personal Details</h3>
		<br />
		<%= render :partial => "instructor_details" %>
		<br />
		<br />
		<br />
		<div style="border-top: 1px solid black;"></div>
		<br />
		<h3>User Details</h3>
		<%= render :partial => "user_details" %>
	</div>
  <div class="small-4 columns">
		<h3>Assigned Camps</h3>
			<%= render :partial => "user_upcoming_camps" %>
			<%= render :partial => "user_past_camps" %>
	</div>
</div>


</div>