<%= simple_nested_form_for @instructor, :html => { :class => 'form-horizontal', :multipart => true } do |instructor_form| %>
    <div class="row">
      <div class="span7">
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Instructor</legend>
          <%= instructor_form.input :first_name %>
          <%= instructor_form.input :last_name %>
          <%= instructor_form.input :phone, as: :string %>
          <%= instructor_form.input :email %>
          <%= instructor_form.input :active %>
          <%= instructor_form.input :bio, input_html: { rows: 6 } %>
          <%= instructor_form.label :picture %><br />
          <%= instructor_form.file_field :picture %>
        </fieldset>
      </div>

    <div class="span5">
    <legend><%= controller.action_name.capitalize %> User</legend>
      <div>
        <%= instructor_form.simple_fields_for :user do |user_form| %>
          <%= render :partial => "users_fields", :locals => { :f => user_form } %>
        <% end %> 
        <p>
          <br />
          <%= instructor_form.link_to_add(raw("<i class='icon-plus icon-white'></i> Add Login User"), :user, :class => 'btn btn-mini btn-primary') %>
        </p>
      </div> 
    </div>
  </div>


    <div class="form-actions">
      <%= instructor_form.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of instructors', instructors_path, :class => 'button secondary radius' %>
    </div>

<% end %>
